start
jump fimfun0
soma:
nop
pushl -1
pushl -2
add
storel -3
return
fimfun0:
jump fimfun1
subt:
nop
pushl -1
pushl -2
sub
storel -3
return
fimfun1:
pushi 0
pushi 4
storeg 0
pushi 0
pushi 2
storeg 1
pushg 0
pushg 1
pushi 0
pushl 3
pushl 2
pusha subt
call
nop
pop 2
swap
pop 1
swap
pop 1
writei
stop
